
.wrapper{
    display: flex;
}

hr{
    width: 100vw;
    border-color: $brand-primary;
    opacity: 0.2;
    margin-top: 70px;
    margin-left: 45px;
    position: fixed;
}

.container{
    margin: 50px;
}

// @media only screen and (max-width: 780px) {
//     .classes-details{
//         grid-template-columns: auto;
//     }
// }

