.btn {
    font-family: $font;
    padding: $button-padding;
    border: 1px solid $brand-primary;
    color: $brand-primary;
    margin: 3rem; // use a var
    background-color: white; // use a var
    border-radius: 4px;
    text-align: center;
    font-size: 1.2rem; // use a var here
    text-decoration: none;
    transition: all 0.3s ease 0s; // use new var here
    display: inline-block;

    &:hover {
        background-color: $brand-primary;
        color: white;
    }
}