
ul{
    height: 100vh;
    list-style-type: none;
    background-color: #2D3B45;
    padding: 25px;
    margin: -10px;
}

.nav__link{
    color: white;
    font-family: Lato;
    font-size: 15px;
}

li{
    padding-top: 30px;
    padding-bottom: 30px;

    &:hover{

    }

}