.nav {
    width: $nav-width;
    background-color: $brand-primary;
    height: 100vh;
    list-style-type: none;
    text-align: center;
    position: fixed;
}

.nav__item {
    flex: 1;
    color: $brand-tertiary; // use variable
    display: block;
    padding: $nav-item-padding; // use padding variable
    transition: $transition;
    &:hover {
        background-color: darken($brand-primary, 10%);
        text-decoration: none;
    }
}

.nav__icon {
    width: 100%;
    padding-bottom: 100%;
    margin: 1rem 0;
    max-height: 25px;
    display: block;
    background: {
        image: url('../images/icon_classes_white.png');
        size: contain;
        repeat: no-repeat;
    }
    &:hover {
        text-decoration: none;
    }
    .nav-item--active & {
        background-image: url('../images/icon_classes_blue.png');
    }
    &--profile {
        border-radius: 50%;
        background-image: url('../images/Profile.jpg');
        .nav-item--active & {
            background-image: url('../images/Profile.jpg');
            border: 2px solid $border-color-small; //use variable
        }
    } // TODO :
    // Convert this to a sass map and loop everything

    @each $class, $img in $navs {
        &--#{$class} {
            background-image: url('../images/#{$img}_white.png');
            .nav-item--active & {
                background-image: url('../images/#{$img}_blue.png');
            }
        }
    }
}

.nav__text {
    .nav-item--active & {
        color: $brand-secondary;
    }
}

.nav__icon--profile {
    border: 2px solid $brand-tertiary; // use variable
    filter: saturate(0%);
}