.profile-img{
    border-radius: 50%;
    border: 2px solid lightgray;
    margin: -70px 80px;
    margin-top: 100px;
    margin-left: 150px;

    filter: saturate(0%);
}

.nav__icon--profile{
    filter: saturate(0%);
}

