
.profile__img{
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid lightgray;
    filter: saturate(0%);
}

.nav__icon--profile{
    filter: saturate(0%);
}
// these are temp
// and put in correct file
.rectangle{
    height: 130px;
    width: 280px;
    margin-bottom: 20px;
}

.rectangle--lightorange{
    background-color: #feb236;
}

.rectangle--purple{
    background-color: #6b5b95;
}

.rectangle--pink{
    background-color: #d64161;
}

.rectangle--darkorange{
    background-color: #ff7b25;
}

