<nav class="main-nav">

    <a href="index.html" class="nav-item">
        <span class="nav__icon nav__icon--profile"></span>
        <span class="nav__text">Profile</span>
    </a>

    <a href="classes.html" class="nav-item">
        <span class="nav__icon nav__icon--class nav-item--active"></span>
        <span class="nav__text">Classes</span>
    </a>

    <a href="todo.html" class="nav-item">
        <span class="nav__icon nav__icon--todo"></span>
        <span class="nav__text">To Do</span>
    </a>

    <a href="tracker.html" class="nav-item">
        <span class="nav__icon nav__icon--tracker"></span>
        <span class="nav__text">Tracker</span>
    </a>

    <a href="inbox.html" class="nav-item">
        <span class="nav__icon nav__icon--inbox"></span>
        <span class="nav__text">Inbox</span>
    </a>

</nav>

<script>
    var header = document.getElementById("main-nav");
    var icons = header.getElementsByClassName("nav-item");

    for(var i = 0; i < icons.length; i++){
        btns[i].addEventListener("click", function() {
            var current = document.getElementByClassName("nav-item--active");
            current[0].className = current[0].className.replace(" nav-item--active", "");
            this.className += " nav-item--active";
        });
    }
</script>